.about {
  background-color: rgb(240, 240, 240);
  padding: 50px 20px 50px 20px;
}

.about-title {
  /* display: inline-block; */
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  /* border-bottom-width: 1px;
  border-bottom-style: solid; */
  /* text-decoration: underline; */
}

.bar-container {
  text-align: center;
}
.about-bar {
  display: inline-block;
  /* text-align: center; */
  background-color: black;
  height: 4px;
  width: 80px;

  margin: 5px 0 40px 0;
}

.about-comment {
  text-align: center;
  margin-bottom: 40px;

  font-weight: bold;
}

.about-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  /* opacity: 0; */
  /* transition: all 0.5s ease; */
}

.about-content {
  display: block;
  width: 30%;
  object-fit: contain;

  margin: 20px;
}

.about-sub-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 860px) {
  .about-content {
    width: 90%;
  }
}

@media screen and (min-width: 860px) and (max-width: 1260px) {
  .about-content {
    width: 45%;
  }
}
