.projects {
  background-color: wheat;

  padding: 50px 20px 50px 20px;
}

.projects-title {
  /* display: inline-block; */
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  /* border-bottom-width: 1px;
      border-bottom-style: solid; */
  text-decoration: underline;
}

.project {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.project-title {
  text-align: center;

  font-weight: bold;
  font-size: 15pt;
}