.projects {
  background-color: wheat;

  padding: 50px 20px 50px 20px;
}

.projects-title {
  /* display: inline-block; */
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.projects-bar {
  display: inline-block;
  /* text-align: center; */
  background-color: black;
  height: 4px;
  width: 80px;

  margin: 5px 0 50px 0;
}

.project {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.project-title {
  text-align: center;
  margin: 10px;

  font-weight: bold;
  font-size: 18pt;
}

.project-period {
  text-align: center;
  margin: 10px;

  color: gray;
  font-weight: bold;
  font-size: 10pt;
}

.project-contents {
  margin: 20px;
}

.project-contents hr {
  color: lightgray;
  border-color: white;
  background-color: white;
}

.project-summary {
  text-align: center;
}
